:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-highlight: #4487dc;
  --light-white-bg: #eceded;
  --off-white: #e0e0e0;
  --off-black: #202124;

  --dark-bg: var(--off-black);
  --dark-text: var(--off-white);
  --dark-highlight: var(--blue-highlight);
  --dark-highlight-text: white;
  --dark-backdrop: black;
  --dark-button: var(--off-black);
  --dark-button-active: var(--blue-highlight);

  --light-text: var(--off-black);
  --light-bg: var(--light-white-bg);
  --light-highlight: var(--blue-highlight);
  --light-highlight-text: white;
  --light-backdrop: #c9cbcb;
  --light-button: var(--light-white-bg);
  --light-button-active: var(--blue-highlight);

  --author-color: #b10b0b;
  --bib-color: #0c640c;
  --author-color-dark: #f45757;
  --bib-color-dark: #3dd171;
  --ref-color: #9407b0;
  --ref-color-dark: darkorange;
  --gloss-color: black;
  --foreign-color: blue;
  --quote-color: blue;
  --foreign-color-dark: #03a5fc;
  --quote-color-dark: #03a5fc;
  --attr-color: blue;
  --attr-color-dark: #03a5fc;

  --author-weight: normal;
  --bib-weight: normal;
  --ref-weight: normal;
  --gloss-weight: bold;
  --foreign-weight: normal;
  --quote-weight: normal;
}

@font-face {
  font-family: "WebNewAthenaUnicode";
  src:
    local("NewAthenaUnicode"),
    url("assets/newathu5_8_v2.woff2") format("woff2"),
    url("assets/newathu5_8_v2.woff") format("woff"),
    url("assets/newathu5_8_v2.ttf") format("ttf");
}

*:focus {
  outline: 1px solid black;
}
.dark *:focus {
  outline: 1px solid white;
}

.philobuttons {
  display: flex;
  margin: 15px;
  height: 26px;
}
.philobuttons button {
  flex: 1;
  flex-basis: auto;
  font-family: helvetica, arial, sans-serif;
  border-radius: 4px;
  border: 0px solid transparent;
  text-align: center;
  background-color: var(--light-button);
  color: var(--light-text);
  cursor: pointer;
  margin: 0px 4px;
}

.dark .philobuttons button {
  background-color: var(--dark-button);
  color: var(--dark-text);
}
.philobuttons button.active {
  background-color: var(--light-button-active);
  color: var(--dark-text);
}
.dark .philobuttons button.active {
  background-color: var(--dark-button-active);
  color: var(--dark-text);
}

.philolistcontainer {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  background-color: var(--light-bg);
  margin: 0px;
  border-radius: 14px;
  width: 280px;
}
.dark .philolistcontainer {
  background-color: var(--dark-bg);
}

.philolist {
  top: 10px;
  left: 10px;
  right: 20px;
  margin: 0px;
  background-color: var(--light-bg);
  color: var(--light-text);
}
.dark .philolist {
  color: var(--dark-text);
  background-color: var(--dark-bg);
}

.philorow {
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  line-height: 2.5;
}

.selectedrow {
  background-color: var(--light-highlight);
  color: var(--light-highlight-text);
  border-radius: 8px;
}
.dark .selectedrow {
  color: var(--dark-highlight-text);
  background-color: var(--dark-highlight);
}

.philosearch {
  position: relative;
  top: 0;
  left: 20px;
  border: 2px solid var(--light-text);
  border-radius: 14px;
  height: 21px;
  padding: 4px 10px;
  padding-bottom: 4px;
  width: calc(100% - 90px);
  padding-bottom: 6px;
  background-color: var(--light-bg);
  color: var(--light-text);
}
.philosearch:focus-visible,
.philosearch:focus {
  outline: 1px solid black;
}
.dark .philosearch:focus-visible,
.dark .philosearch:focus {
  outline: 1px solid var(--dark-text);
}
.dark .philosearch {
  border: 2px solid var(--dark-text);
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.philodefcontainer {
  position: absolute;
  left: 300px;
  right: 10px;
  top: 70px;
  bottom: 10px;
  background-color: var(--light-bg);
  border-radius: 14px;
  padding: 20px;
}
.dark .philodefcontainer {
  background-color: var(--dark-bg);
}

.philodef {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

body {
  background-color: var(--light-backdrop);
  color: var(--light-text);
  margin: 0px;
  display: block;
  width: 100vw;
  height: 100vh;
  font-family:
    NewAthenaUnicode, WebNewAthenaUnicode, helvetica, arial, san-serif;
}
.dark body {
  background-color: var(--dark-backdrop);
  color: var(--dark-text);
}

#logocontainer {
  z-index: 999;
  position: absolute;
  top: 11px;
  right: 0px;
  height: 52px;
  width: 243px;
  margin: 0px;
  padding: 0px;
}
#logo {
  color: var(--light-text);
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 28pt;
  font-family: helvetica, arial, sans-serif;
}
.dark #logo {
  color: var(--dark-text);
}
#hamburgercontainer {
  position: absolute;
  padding: 0px;
  margin: 0px;
  right: 1rem;
  bottom: 4px;
}
#hamburger {
  z-index: 999;
  position: relative;
  background-color: white;
  border: 1px solid #666;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
#hamburger rect {
  fill: black;
}
.dark #hamburger {
  background-color: black;
}
.dark #hamburger rect {
  fill: var(--dark-text);
}

.ftrowheaderlink {
  color: blue;
  cursor: pointer;
}
.dark .ftrowheaderlink {
  color: #03a5fc;
}
.ftrowhead {
  padding: 0px;
  margin: 5px 0px;
}
.dark .fo {
  color: blue;
  color: var(--foreign-color-dark, blue);
}
.dark .qu {
  color: blue;
  color: var(--quote-color-dark, blue);
}
.fo {
  color: blue;
  color: var(--foreign-color, blue);
}
.qu {
  color: blue;
  color: var(--quote-color, blue);
}
.tr {
  font-weight: bold;
}
.au {
  color: #ac1b1b;
  color: var(--author-color, #ac1b1b);
}
.dark .au {
  color: #f45757;
  color: var(--author-color-dark, #f45757);
}
.bi {
  color: #0c640c;
  color: var(--bib-color, #0c640c);
}
.dark .bi {
  color: #3dd171;
  color: var(--bib-color-dark, #3dd171);
}
.ti {
  color: #8b22a0;
  color: var(--ref-color, #8b22a0);
}
.dark .ti {
  color: darkorange;
  color: var(--ref-color-dark, darkorange);
}
.biblLink {
  color: #0c640c;
  color: var(--bib-color, #0c640c);
}
.dark .biblLink {
  color: #3dd171;
  color: var(--bib-color-dark, #3dd171);
}
.attrlink {
  color: blue;
  color: var(--attr-color, blue);
}
.dark .attrlink {
  color: #03a5fc;
  color: var(--attr-color-dark, #03a5fc);
}
.storelink {
  color: blue;
}
.dark .storelink {
  color: #03a5fc;
}
.qu:before {
  content: '"';
}
.qu:after {
  content: '"';
}
.label {
  font-weight: bold;
  position: absolute;
  left: -36px;
}
.label:after {
  content: " ";
}
.orth {
  font-weight: bold;
}
.biblLink:link {
  text-decoration: none;
}
.biblLink:visited {
  text-decoration: none;
}
.biblLink:hover {
  text-decoration: underline;
}
.biblLink:active {
  text-decoration: none;
}
.bi {
  text-decoration: none;
}
.l1 {
  margin-left: 36px;
  position: relative;
}
.l2 {
  margin-left: 72px;
  position: relative;
}
.l3 {
  margin-left: 108px;
  position: relative;
}
.l4 {
  margin-left: 144px;
  position: relative;
}
.l5 {
  margin-left: 180px;
  position: relative;
}
.orangetext {
  color: orange;
}
.greentext {
  color: green;
}
.bluetext {
  color: blue;
}
.redtext {
  color: red;
}
.boldtext {
  font-weight: bold;
}
.blacktext {
  color: black;
}
.attrlink {
  color: blue;
}
HTML {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body,
html {
  position: fixed;
}

#lemmataloading {
  position: absolute;
  top: 32px;
  right: 44px;
  height: 18px;
  width: 18px;
  z-index: 999;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 28px;
  left: 39.5px;
  width: 2px;
  height: 6px;
  /*border-radius: 20%;*/
  background: black;
}
.dark .lds-spinner div:after {
  background: white;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.no-scrollbars {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.no-scrollbars::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #bbb;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #666;
}
.dark ::-webkit-scrollbar-track {
  background-color: #333;
}
