.click-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.settings-modal {
  position: absolute;
  right: 1rem;
  top: 57px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 140px;
  font-family:
    helvetical arial,
    sans-serif;
}

.dark .settings-modal {
  background-color: #222;
  border-color: #555;
  color: var(--dark-text);
}

.theme-options h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.theme-options label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.theme-options input {
  margin-right: 0.5rem;
}
